<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Analyse this</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="container">
      <header>
        <h1 class="title">Analyse This!</h1>
        <h2 class="sub">Natural Language Interpreting</h2>
      </header>
      <main>
        <section>
          <h3 class="analysis">URL to be analysed</h3>
          <form class="" id="form">
            <input
              class="analyseField"
              id="url"
              type="text"
              name="input"
              value="http://www.theguardian.com/culture/2021/jun/07/which-superhero-has-the-best-costume"
              placeholder="Article URL"
            />
            <button class="analyseButton" type="submit" name="" value="Analyse">
              <i class="fa fa-question" aria-hidden="true"></i>
            </button>
          </form>
        </section>

        <section id="results" class="hidden">
          <h3 id="resultsTitle" class="analysis">Analysis Results</h3>
          <ul id="resultsText">
            <li>Agreement: <span id="agreement"> </span></li>
            <li>Subjectivity: <span id="subjectivity"></span></li>
            <li>Confidence:<span id="confidence"></span></li>
            <li>Irony:<span id="irony"></span></li>
          </ul>
        </section>
      </main>

      <footer><span class="copyleft">&copy;</span> Copyleft</footer>
    </div>
  </body>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
</html>
