<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Analyse this</title>
    <link rel="text/css" href="/styles/resets.scss" />
    <link rel="text/css" href="/styles/base.scss" />
    <link rel="text/css" href="/styles/header.scss" />
    <link rel="text/css" href="/styles/form.scss" />
    <link rel="text/css" href="/styles/footer.scss" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="container">
      <header>
        <h1 class="title">Analyse This</h1>
        <h2 class="sub">Natural Language Interpreting</h2>
      </header>
      <main>
        <section>
          <h3 class="analysis">Insert URL to be analysed</h3>
          <form class="" id="form">
            <input
              class="analyseField"
              id="url"
              type="text"
              name="input"
              value="http://www.theguardian.com/culture/2021/jun/07/which-superhero-has-the-best-costume"
              placeholder="Article URL"
            />
            <button class="analyseButton" type="submit" name="" value="Analyse">
              <i class="fa fa-question" aria-hidden="true"></i>
            </button>
          </form>
        </section>

        <section>
          <h3 id="resultsTitle" class="analysis hidden">Analysis Results</h3>
          <div id="results">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. In
            hendrerit gravida rutrum quisque non. Non enim praesent elementum
            facilisis leo vel fringilla est. Venenatis urna cursus eget nunc
            scelerisque viverra. Et malesuada fames ac turpis egestas sed
            tempus. Id aliquet risus feugiat in ante metus dictum at tempor. In
            massa tempor nec feugiat nisl pretium fusce id velit.
          </div>
        </section>
      </main>

      <footer><span class="copyleft">&copy;</span> Copyleft</footer>
    </div>
  </body>
</html>
